/*Stylesheet for Guyton Portfolio. Author Robin Guyton*/

/*********************************************************
* Description: Primary Style Sheet for Robin Guyton's Portfolio
* Author: Robin Guyton
*********************************************************/

<style>
    body {background-color: antiquewhite;}
    footer {text-align: center;
        padding: 3px;
        background-color: azure;
        color: black;
        border-radius: 50px;
        height: 100px
    }
</style>